<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" th:content="${title}" />
    <meta property="og:description" th:content="${description}" />
    <meta property="og:image" th:content="${image}" />
    <meta property="og:url" th:content="${originalUrl}" />
    <meta property="og:type" content="website"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" th:content="${title}"/>
    <meta name="twitter:description" th:content="${description}"/>
    <meta name="twitter:image" th:content="${image}"/>

    <title>Redirecting...</title>
</head>

<body>
<!-- Instant redirect for humans -->
<script th:inline="javascript">
    window.location.href = [[${originalUrl}]];
</script>
</body>
</html>